[submodule "MaskDINO"]
	path = MaskDINO
	url = https://github.com/stmharry/MaskDINO.git
	branch = stmharry

[submodule "detectron2"]
	path = detectron2
	url = https://github.com/facebookresearch/detectron2.git
	branch = main

[submodule "coco-annotator"]
	path = coco-annotator
	url = https://github.com/stmharry/coco-annotator.git
	branch = master
[submodule "google-health"]
	path = google-health
	url = https://github.com/Google-Health/google-health.git
