[submodule "MaskDINO"]
	path = MaskDINO
	url = https://github.com/IDEA-Research/MaskDINO.git
[submodule "detectron2"]
	path = detectron2
	url = https://github.com/facebookresearch/detectron2.git
[submodule "coco-annotator"]
	path = coco-annotator
	url = https://github.com/jsbroks/coco-annotator.git
