VERSION: 2

MODEL:
  META_ARCHITECTURE: "SemanticSegmentor"
  WEIGHTS: "detectron2://DeepLab/R-103.pkl"
  PIXEL_MEAN: [123.675, 116.280, 103.530]
  PIXEL_STD: [58.395, 57.120, 57.375]

  BACKBONE:
    NAME: "build_resnet_deeplab_backbone"
    FREEZE_AT: 0

  RESNETS:
    DEPTH: 101
    OUT_FEATURES: ["res2", "res5"]
    NORM: "SyncBN"
    STRIDE_IN_1X1: false
    RES5_DILATION: 2

    STEM_TYPE: "deeplab"
    STEM_OUT_CHANNELS: 128
    RES5_MULTI_GRID: [1, 2, 4]

  SEM_SEG_HEAD:
    NAME: "DeepLabV3PlusHead"
    IN_FEATURES: ["res2", "res5"]
    CONVS_DIM: 256
    NUM_CLASSES: 33
    COMMON_STRIDE: 4
    NORM: "SyncBN"

    PROJECT_FEATURES: ["res2"]
    PROJECT_CHANNELS: [48]

    ASPP_CHANNELS: 256
    ASPP_DILATIONS: [6, 12, 18]
    ASPP_DROPOUT: 0.1

    LOSS_TYPE: "hard_pixel_mining"

INPUT:
  MIN_SIZE_TRAIN: (1024,)
  MIN_SIZE_TRAIN_SAMPLING: "choice"
  MAX_SIZE_TRAIN: 2048

  MIN_SIZE_TEST: 1024
  MAX_SIZE_TEST: 2048

  RANDOM_FLIP: "none"
  CROP:
    ENABLED: false
    TYPE: "absolute"
    SIZE: (512, 1024)
    SINGLE_CATEGORY_MAX_AREA: 1.0
  FORMAT: "RGB"

DATASETS:
  TRAIN: ("pano_semseg_v4_train",)
  TEST: ("pano_semseg_v4_val",)

DATALOADER:
  NUM_WORKERS: 10

SOLVER:
  LR_SCHEDULER_NAME: "WarmupPolyLR"
  MAX_ITER: 90000
  BASE_LR: 0.01
  STEPS: (60000, 80000)
  IMS_PER_BATCH: 2
